
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: blueviolet;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
}


main {
    background-color: white;
    width: 100%;
    max-width: 800px; 
    padding: 40px;
    margin: auto;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}


h1 {
    color: #4b0082;
    margin-bottom: 5px;
}

h2 {
    border-bottom: 2px solid blueviolet;
    color: #333;
    padding-bottom: 5px;
    margin-top: 25px;
}


ul {
    line-height: 1.6;
}

p {
    line-height: 1.5;
    color: #444;
}

article img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
    border: 1px solid #eee; 
}

main {
    background-color: white !important;
    display: block !important;      
    margin: 20px auto !important;     
    padding: 30px !important;
    border-radius: 8px !important;
    max-width: 800px !important;
    color: #333 !important;         
}


main h1 {
    color: #4b0082 !important;
}


main p {
    color: #444 !important;
}